name: $(BuildID).$(Date:yyyyMMdd).$(SourceBranchName)

trigger:
  branches:
    include:
      - 'main'
      - 'feature/FI0-*'
      - 'bugfix/FI0-*'
      - 'hotfix/FI0-*'
      
# variables:

resources:
  repositories:
    - repository: CentralAdoPipelineTemplates
      # endpoint: defradev
      name: DEFRA-EUX-MMO/mmo-central-ado-pipeline-templates
      type: git
      ref: main

stages:
- stage: BuildAppAndCodeCoverage
  pool:
    vmImage: 'ubuntu-latest'
  jobs:
  - job: TestCodeCoverage
    steps:
    - script: |
        docker build . \
            -f Dockerfile.test \
            -t test:$(Build.BuildId) \
            --build-arg GIT_HASH=$(Build.SourceVersion) 
      displayName: "Docker Test"
    - script: |
        mkdir coverage
        chmod a+rw coverage
        docker run --user=root -v $(Build.StagingDirectory)/coverage:/home/site/wwwroot/coverage test:$(Build.BuildId) npm run test

      displayName: "Test"
      workingDirectory: $(Build.StagingDirectory)
      condition: succeededOrFailed()
    - publish: '$(Build.StagingDirectory)/coverage'
      displayName: 'Publish coverage for Sonarqube'
      artifact: coverage

    - task: PublishCodeCoverageResults@1
      condition: succeededOrFailed()
      inputs:
        codeCoverageTool: Cobertura
        pathToSources: '$(System.DefaultWorkingDirectory)'
        summaryFileLocation: '$(Build.StagingDirectory)/coverage/cobertura-coverage.xml'

  - job: BuildAndArtifactAppImage
    steps:
    - script: |
        docker build . \
          -t sndmmofesacr002.azurecr.io/mmo-cc-functionapp:$(Build.SourceVersion) \
          --build-arg GIT_HASH=$(Build.SourceVersion)
      displayName: "Docker build"
    # Export the Docker image to a file so it can be copied to the next Jobs
    - task: Bash@3
      displayName: Save Docker Image
      inputs:
        targetType: 'inline'
        script: |
          docker save sndmmofesacr002.azurecr.io/mmo-cc-functionapp:$(Build.SourceVersion) \
            -o $(Pipeline.Workspace)/docker-image.tar
    # Publish application docker image
    - task: PublishPipelineArtifact@1
      displayName: Publish Docker run image
      inputs:
        targetPath: '$(Pipeline.Workspace)/docker-image.tar'
        artifact: 'docker-image'
        publishLocation: 'pipeline'

  - job: TagAndPushAppImage
    dependsOn: BuildAndArtifactAppImage
    condition: and(succeeded(), or(startsWith(variables['Build.SourceBranch'], 'refs/heads/main'), eq(variables['Build.Reason'], 'PullRequest')))
    pool:
      name: DEFRA-EUX-MMO
    steps:
    - task: DownloadPipelineArtifact@2
      displayName: Download Docker image
      inputs:
        buildType: 'current'
        artifactName: 'docker-image'
        targetPath: '$(Pipeline.Workspace)'
    # Load and tag Docker image
    - task: Bash@3
      displayName: Load and tag Docker images
      inputs:
        targetType: 'inline'
        script: |
          docker load --input $(Pipeline.Workspace)/docker-image.tar

    - task: Docker@2
      displayName: 'Push an image to SND MMO ACR'
      inputs:
        containerRegistry: SNDMMOFESACR002_ADOSERVICECONNECTION
        repository: 'mmo-cc-functionapp'
        command: push
        tags: |
          $(Build.SourceVersion)
        addPipelineData: false

# Central mmo-central-ado-pipeline-templates reference
- template: /includes/sonar-integration-template.yml@CentralAdoPipelineTemplates

- stage: DeployWebApp
  pool:
    vmImage: 'ubuntu-latest'
  dependsOn: SonarQube_Prepare_Analyze_Publish
  condition: and(succeeded(), or(startsWith(variables['Build.SourceBranch'], 'refs/heads/main'), eq(variables['Build.Reason'], 'PullRequest')))
  jobs:
  - job: DeployToSND
    steps:
    - task: AzureWebAppContainer@1
      displayName: 'Azure Web App on Container Deploy'
      inputs:
        azureSubscription: AZR-SND-MMO
        appName: mmo-function-app-snd
        imageName: sndmmofesacr002.azurecr.io/mmo-cc-functionapp:$(Build.SourceVersion)